{% extends 'base.html.twig' %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add New Master Location</h1>
        <p class="text-muted">Register a city or area (e.g. Ahmedabad, Mumbai)</p>
    </div>

    <div class="card shadow-sm mb-4" style="max-width: 500px;">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.shortCode) }}
                </div>
                
                <div class="mt-4">
                    <button class="btn btn-primary px-4">Save City</button>
                    <a href="{{ path('app_location_index') }}" class="btn btn-light ms-2">Back</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}